*~
*.bak
*.sys
*.com
*.exe
*.lib
*.a
/**/.cache
*.d
*.o
*.rel
*.asm
# *.s
/bin
/lib
/obj
/sample/**/bin
/sample/**/lib
/sample/**/obj
/tools/**/bin
/tools/**/lib
/tools/**/obj
/**/compile_commands.json
/**/.vscode
/html
